*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(  rgba(18,18,18,1) 10.9%, rgba(81,84,115,1) 87.1% );
    font-family: Roboto, sans-serif;
}

.header{
    padding: 19px 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid white;*/
}

.logo{
    width: 188px;
    height: 76px;
}

.menu{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.menu ul{
    list-style: none;
}

/*alinhando itens da menu lateralmente*/
.menu ul li{
    display: inline;
    margin-right: 96px;
    cursor: pointer;
}

.profile{
    color: white;
    font-size:20px;
    display: flex;
    align-items: center;
}

.profilePicture{
    width: 41px;
    height: 41px;
    margin-left: 35px;
    cursor: pointer;
}

.main-section{
    min-height: 862px;
    background-image: url('./assets/NewBackgroundBlur.jpg');
    background-size: cover;
}

.main-data{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.main-movie-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 24px;
    color: #fff;
}

.main-data img{
    height: 446px;
    width: 289px;
    border-radius: 20px;
}
.main-movie-name{
    font-weight: 600;
    font-size: 32px;
    
}

.main-movie-type{
    margin-top: 24px;
    font-size: 18px;
}

.movie-rating{
    color: #fcc537;
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.movie-note{
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.imdb-note{
    color:black;
    background-color: #fcc537;;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    font-weight: 660;
}

.movie-duration{
    margin-top: 24px;
}

.movie-categories{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.movie-category{
    margin-left: 18px;
    padding: 10px;
    background-color: rgb(255, 255, 255,);
    backdrop-filter: blur(30px);
    border-radius: 7px;
    cursor: pointer;
}

.movie-category:hover{
    background-color: white;
    color: black;
    transition: 350ms;
    transform: scale(1.09, 1.09);
}
